<html>
    <body>
    <h1>Add a fruit</h1>
        <!-- ggg<form action="#" th:action="@{/}" th:object="${fruit}" method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                </tr>
                    <td><button type="submit">Submit</button></td>
            </table>
        </form>
        
        <h1>My cart</h1>
        <ul>
        <li th:each=" fruit : ${session.cart}"> 
        	<p th:text="${fruit.name}"></p>
        </li>
        
        </ul>-->
    </body>
</html>